#theContactPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(
      to top,
      #eea3fa57,
      #1212126a,
      rgba(248, 171, 109, 0.817)
    ),
    url("../../assets/backgroundbanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#theContactPage h1{
  background: -webkit-linear-gradient(0deg,#a12ea1, #f1975b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}