#theContactPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: linear-gradient(
      to top,
      #eea3fa57,
      #1212126a,
      rgba(248, 171, 109, 0.817)
    ),
    url("../../assets/backgroundbanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#theContactPage h1{
  background: -webkit-linear-gradient(0deg,#a12ea1, #f1975b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  text-align: start;
  font-family: "Montserrat", sans-serif;
}
#contactInputBox{
  margin-top: 20px;
}
#contactInputBox h4{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fcbc1a;
}
#contactInput{
  background-color: transparent;
  border-bottom: 2px solid #5e145e;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
 
}

#contactButton button{
  padding: 12px 25px;
  border: none;
  background-image: linear-gradient(to right, #5e145e, #a12ea1, #5e145e);
  color: #fcbc1a;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
}
#contactSocialBox{
  margin-top: 20px;
  background-color: #ffffff41;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 4px;
}
#contactSocialBoxWrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  
}
#contactIcon{
  color: #5e145e;
  font-size: 25px;
margin-right: 10px;
}
#contactIconText{
  color: #5e145e;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#contactUsMap{
margin-top: 20px;
}
#contactUsMap h4{
  color: #fcbc1a;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  }

  @media (max-width: 750px) {
    #theContactPage{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      padding-top: 100px;
      background: linear-gradient(
          to top,
          #eea3fa57,
          #1212126a,
          rgba(248, 171, 109, 0.817)
        ),
        url("../../assets/backgroundbanner.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #contactInput{
      background-color: transparent;
      border: 2px solid #5e145e;
      border-radius: 0px;
   border-radius: 4px;
     
    }
  }