
#theParterPageSection {
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: linear-gradient(to right, #bacbd1, #ffffff73);
  }
  #theParterPageSection h2 {
    text-align: center;
    color: #a12ea1;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  #partnerCard {
    width: 100%;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  
    border-radius: 20px;
  }
  #partnerCard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    filter: brightness(80%);
  }
  #partnerCardBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .viewMoreText {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #5e145e;
    padding: 3px 10px;
    display: none;
  }
  #partnerCardBox:hover .viewMoreText {
    background-color: #d4ebf4;
    color: #5e145e;
    border-radius: 4px;
    display: block;
  }
  #partnerCardBox i {
    color: grey;
  }
  #partnerCardBox p {
    color: grey;
    text-align: start;
    line-height: 1.8rem;
  }
  #partnerCardBox small {
    color: #2079e0;
    font-family: "Montserrat", sans-serif;
  }
  